@import url('https://fonts.googleapis.com/css?family=Lato:400|Questrial');

$lato: 'Lato', sans-serif;
$questrial: 'Questrial', sans-serif;

$code-color: green;

.App {
  &-header {
    background-color: #222;
    height: 180px;
    padding: 20px;
    color: white;
    text-align: center;
    font-family: $questrial;
  }

  &-intro {
    font-size: large;
  }
}

h1 {
  font-family: $questrial;
  text-align: center;
}

.toggle {
  margin: auto;
  margin-bottom: 10px;
  font-family: $lato;
  border-bottom: 1px solid #dedede;
  padding: 5px 0 30px 0;
}

form {
  height: 25px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

input[type="radio"] {
  opacity: 0;
  flex-align: center;
}

input[type="radio"] + label {
  display: inline-block;
  height: 20px;
  color: black;
  font-size: 10pt;
  text-align: center;  
  line-height: 20px;
  font-size: 11pt;
  text-transform: uppercase;
  transition: border-bottom .2s;
}

input[type="radio"]:checked + label {
  font-weight: bold;
  background-color: white;
  color: black;
  border-bottom: 4px solid grey;
}

input[type="radio"]:hover + label,
input[type="radio"]:focus + label {
  background-color: white;
  color: purple;
}

table {
  margin: auto;
  font-family: $questrial;
}

tr {
  height: 52pt;
}

.cell-rank {
  color: grey;
  text-align: center;
}

.avatar {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 5px 5px #dedede;
}

.cell-username {
  font-size: 15pt;
  padding-left: 15px;
}

.cell-points {
  width: 23%;
  font-size: 15pt;
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.bold {
  font-weight: bold;
}
