@import url('https://fonts.googleapis.com/css?family=Lato:400|Questrial');

$lato: 'Lato', sans-serif;
$questrial: 'Questrial', sans-serif;

$code-color: green;

.App {
  &-header {
    background-color: #222;
    height: 180px;
    padding: 20px;
    color: white;
    text-align: center;
    font-family: $questrial;
  }

  &-intro {
    font-size: large;
  }
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-family: $questrial;
  text-align: center;
  font-size: 200%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.toggle {
  margin: auto;
  margin-bottom: 10px;
  position: sticky;
  top: 0px;
  font-family: $lato;
  border-bottom: 1px solid #dedede;
  padding: 10px 0 35px 0;
  background-color: rgba(255, 255, 255, .9);
}

form {
  height: 25px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

input[type="radio"] {
  opacity: 0;
  flex-align: center;
}

input[type="radio"] + label {
  display: inline-block;
  height: 20px;
  color: black;
  font-size: 10pt;
  text-align: center;  
  line-height: 20px;
  font-size: 11pt;
  text-transform: uppercase;
  transition: border-bottom .2s;
}

input[type="radio"]:checked + label {
  font-weight: bold;
  background-color: white;
  color: black;
  border-bottom: 3px solid grey;
}

input[type="radio"]:hover + label,
input[type="radio"]:focus + label {
  background-color: white;
  color: purple;
}

table {
  margin: auto;
  width: 100%;
  max-width: 420px;
  table-layout: fixed;
}

tbody {
  font-family: $questrial;
  width: 100%;
  max-width: 420px;
}

tr {
  height: 55px;
}

tr:nth-child(1) {
  background-color: #2d3142;

  td {
    outline: 1px solid #2d3142;
    color: white; 
  }

  a, a:hover {
    color: white;
  }

  .avatar {
    border: 2px solid gold;
    box-shadow: none;
  }
}

tr:nth-child(2) {
  background-color: #4f5d75;

  td {
    outline: 1px solid #4f5d75;
    color: white;
  }

   a, a:hover {
    color: white;
  }

  .avatar {
    border: 2px solid silver;
    box-shadow: none;
  }
}

tr:nth-child(3) {
  background-color: #bfc0c0;

  td {
    outline: 1px solid #bfc0c0;
  }

  .avatar {
    border: 3px solid silver;
  }
}

td {
  // outline: 1px dotted green;
}

.col-rank {
  width: 30px;
}

.cell-rank {
  color: grey;
  text-align: center;
}

.col-avatar {
  width: 40px;
}

.cell-avatar {
  text-align: center;
}

.avatar {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 5px 5px #dedede;
}

.col-username {
  font-size: 13pt;
  width: 100%;
}

.cell-username {
  font-size: 13pt;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}

.col-points {
  width: 50px;
}

.cell-points {
  font-size: 13pt;
  text-align: right;
  font-variant-numeric: tabular-nums;
  padding-right: 20px;
}

.bold {
  font-weight: bold;
}

@media (min-width: 420px) {
  body {
    font-size: 160%;
  }

  table {
    max-width: 600px;
  }

  tr {
    height: 80px;
  }

  .cell-rank {
    font-size: 24px;
  }

  .col-avatar{
    width: 80px;
  }

  .avatar {
    width: 60px;
    height: 60px;
  }

  .cell-username {
    font-size: 26px;
  }

  .col-points {
    width: 70px;
  }

  .cell-points {
    font-size: 24px;
  }
}
